body {
  /* font-family: "Lato", sans-serif; */
  transition: background-color .5s;
}

#open-cart {
  font-size: 25px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.2s;
  padding-top: 60px;
  z-index: 10000;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  /* .sidenav {
    padding-top: 15px;
  } */

  .sidenav a {
    font-size: 18px;
  }
}

#fill {
  width: 0; 
  height: 0;
  background-color: rgba(0,0,0,0.0); 
  position: fixed;
  z-index: 9999;
  transition: background-color .5s;
}

/* .cart-header > div a {
  background-color: #295ba7;
	height: 62px;
	line-height: 45px;
	color: #fff;
	display: block;
	text-align: center;
	position: relative;
  border-radius: 6px;
  cursor: pointer;
} */
.cart-header > div a {
  font-size: 18px;
  color: #fff;
}

.cart-body {
	padding-top: 1px;
	overflow: auto;
	width: 100%;
  height: 76%;
  /* display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; */
  overflow-y: auto;
  overflow-x: hidden;

  /* FIREFOX */
  scrollbar-width: thin;
  scrollbar-color: #2f8be0 #fff;
}
.cart-body::-webkit-scrollbar {
  width: 6px;
  background-color: none;
} 
.cart-body::-webkit-scrollbar-thumb {
  background-color: #2f8be0;
}
.cart-body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: none;
}

.cart-footer {
  padding: 20px;
  position: sticky;
	bottom: 0;
	width: 100%;
	background: #fff;
	-webkit-box-flex: unset;
	-ms-flex-positive: unset;
	flex-grow: unset;
}

.cart-footer .btn-sell a {
	background-color: #295ba7;
	height: 62px;
	line-height: 45px;
	color: #fff;
	display: block;
	text-align: center;
	position: relative;
  border-radius: 6px;
  cursor: pointer;
}

.cart-footer .btn-sell a .sell-label {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	left: 26%;
}

.cart-footer .btn-sell a .price {
	background-color: #134d89;
	font-family: "Roboto", arial, sans-serif;
	font-size: 16px;
	height: 61px;
	line-height: 50px;
	padding: 7px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0 6px 6px 0;
	font-weight: bold;
	width: 30%;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#cart-container {
  position: relative;
  height: 100%;
}

.cart-header.hide {
  display: none;
}

.cart-list {
  list-style-type: none;
  font-family: "Roboto", arial, sans-serif;
  padding-left: 0;
}

li.cart-item {
	min-height: 100px;
	padding: 15px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
}

li.cart-item > div {
  float: left;
}

li.cart-item > div.cart-item-img {
  max-width: 17%;
  margin-right: 10px;
}

li.cart-item > div.cart-item-img > img {
  height: auto;
  width: auto;
}

li.cart-item > div.cart-item-title {
  width: 40%;
  margin-right: 10px;
}

li.cart-item > div.cart-item-title .cart-item-name {
  font-size: 22px;
  font-weight: 600;
}

li.cart-item > div.cart-item-title .cart-item-amount {
  font-size: small;
}

li.cart-item > div.cart-item-price {
  text-align: right;
  padding-right: 10px;
  width: 20%;
  line-height: 52px;
}

li.cart-item > div.cart-item-price span {
  font-size: 20px;
  font-weight: 500;
  color: #295ba7;
}

li.cart-item > div.cart-item-remove {
  width: 6%;
  opacity: 1;
  line-height: 38px;
  cursor: pointer;
  /* position: absolute; */
  right: 50px;
}